/*body{
    background-color: aquamarine;
}
hr{
    border-style: none;
    border-color: gray;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
}
.div{

}*/
body {
    
    background-color: #635985;
  }
  
  